:root {
  --timbertech-vintage-coastline: #9C9C9C;
  --timbertech-vintage-weathered-teak: #B08D57;
  --timbertech-vintage-mahogany: #7D4A34;
  --timbertech-vintage-dark-hickory: #4A3C32;

  --timbertech-landmark-castle-gate: #7A7A7A;
  --timbertech-landmark-french-white-oak: #C4B5A3;
}
