:root {
  --trex-transcend-lineage-biscayne: #B7A58A;
  --trex-transcend-lineage-carmel: #CBB7A0;
  --trex-transcend-lineage-hatteras: #9F9280;
  --trex-transcend-lineage-jasper: #4F3D33;
  --trex-transcend-lineage-rainier: #8B8D8F;

  --trex-transcend-island-mist: #8E918F;
  --trex-transcend-lava-rock: #615047;
  --trex-transcend-rope-swing: #A18B71;
  --trex-transcend-spiced-rum: #6A4737;
  --trex-transcend-tiki-torch: #A56D4A;
  --trex-transcend-havana-gold: #B79265;
  --trex-transcend-tree-house: #6A594C;
  --trex-transcend-vintage-lantern: #40342D;

  --trex-enhance-naturals-coastal-bluff: #A89A8A;
  --trex-enhance-naturals-foggy-wharf: #989B9D;
  --trex-enhance-naturals-rocky-harbor: #877C72;
  --trex-enhance-naturals-toasted-sand: #B8A089;

  --trex-enhance-basics-beach-dune: #B7A28D;
  --trex-enhance-basics-clam-shell: #A5A6A2;
  --trex-enhance-basics-saddle: #8A684D;

  --trex-select-pebble-grey: #A1A3A0;
  --trex-select-saddle: #8B6A4F;
}
